#u1213-4,#u1358-6
{
	font-family: open-sans-n6, sans-serif;
}

#u1195-6
{
	font-family: open-sans-n3, sans-serif;
}

#u106-8,#u638-4,#u854-4,#u860-4,#u1414-2
{
	font-family: open-sans-n3, sans-serif;
}

#u642-4,#u645-4,#u648-4,#u651-4,#u652-4,#u638-12,#u638-13,#u638-21,#u638-22,#u854-8,#u854-10,#u854-12,#u854-14,#u854-18,#u860-8,#u1282-15,#u1414-4,#u1413-19
{
	font-family: open-sans-n6, sans-serif;
}

#u1160-4,#u1156-4,#u1152-4,#u1417-4
{
	font-family: open-sans-n8, sans-serif;
}

